body{background:#FFCC00;}
body{color:#000;}
body{font-family:times,sans-serif;}
body{font-size:16px;}
.container{background:#ffffff;}
.container{border-radius:6px;}
.warengruppen_tabelle{background:#FFCC00;}

.warengruppen_tabelle .th{background:#FF9966;}

.t_bestellschein .th{background:#FF9966;}
#contenttable .tb{background:#FF9966;}




.odd{background:#FF9966;} 
.uneven{background:#ffffff;}
.warengruppen_tabelle{color:#ffeb99;}
.contentbox{background-color:#FFCC00;}

.instance_color{background:#669900;}  

#produktnavigation ul a {#000;}
#produktnavigation ul a:hover{color:#FFCC00;}
#mainnavigation a{color:#000;}
#mainnavigation a:hover{color:#FFCC00;}
#footer a{color:#000;}
#footer a:hover{color:#FFCC00;}


 
 
/* Speisekarte Linkfarbe  */ 
#speisekarte ul a{color:#222;text-decoration:none;}
#speisekarte ul a:hover{color:#BE0000;background-color:#FFEB99;}


/* Liefergebiete Liste  */
.l{float:left;width:260px;}
.r{float:left;width:260px;}


/* Hintergrundfarbe Bestellschein */
.bestellschein_tabelle{max-width:300px;   padding-left: 10px;
    padding-top: 14px;}


/* Hintergrund, Schriftfarbe und Rahmen der Hinweisbox */
.messageinner{background:#ffffff; border:1px solid #cccccc; color:#000000;}


/* Warengruppe Tabelle Link/Produktname  */
.produkt{color:#551A8B;text-decoration:none;}

/* Warengruppe Textfarbe Rubrikbeschreibung  */
.desc{color:#292929;}


/* Detailseite Tabelle Hintergrund */
.p_details .tablebody{background-color:#FFEB99;}

/* Detailseite Tabelle  */
table.p_details {font-size:12px;background-color:#FFEB99;}

/* Detailseite Tabelle Titelzeile Hintergrund */
table.p_details .th{background-color:#FF8800;color:#292929;font-size:12px;}

/* Links in Tabelle Extrazutaten, Inklusivzutaten  */
table.p_details a {color:#F53900;text-decoration:none;font-size:11px;}


table.p_details a b{color:#292929;text-decoration:none;font-size:13px;}
table.p_details a:hover b{color:#FFD35C;text-decoration:none;background:#FF8800;}



/* Fehlermeldung im Bestellformular  Rahmen, Farbe und Breite */
.fehlermeldung{border:2px solid red;color:red;width:400px;}
.hinweismeldung{border:2px solid green;color:green;width:400px;}


/* ############################################### */
/* ############################################### */


#produktnavigation ul a {font-size:12px;text-decoration:none;}
#produktnavigation ul a:hover{background-color:#FFEB99;}
#mainnavigation a{font-size:18px;text-decoration: none;}
#footer a{text-decoration: none;}



#content{background-color:#fff;}

#mainnavigation{border:1px solid #000;border-radius:6px;}
#mainnavigation a{font-size:18px;text-decoration: none;}
#mainnavigation a:hover{}

#designhelper{background-color:#fff;}
#topping{background:url(img/topping.png) repeat-x;}


a{color:#BE0000;}
a.nachoben{font-size:10px;color:#fff;}

.footerinner{border-radius:6px;border:1px solid #000;border-top: 0px;}
#footer a{text-decoration: none;}

.info {font-size:12px;}
.info a{font-size:12px;}


.sidebox{border-radius:8px;}
.sidebox h2{font-size:18px;}


#produktnavigation ul a{font-size:12px;color:#222;text-decoration:none;}
#produktnavigation ul a:hover{color:#BE0000;background-color:#FFEB99;}
#contenttable{background-color:#FFD35C;font-size:12px;color:#292929;}


.t_bestellschein{font-size:11px;}

.t_bestellschein2{background:transparent;font-size:11px;}
.t_bestellschein a.z_btn{background-color:#FF8800;font-size:9px;text-decoration:none;color:#292929;border:1px solid #FF8800;}
.t_bestellschein a.wkz {color:#F53900;text-decoration:none;}
.t_bestellschein a.wkz:visited {color:#F53900;text-decoration:none;}
.t_bestellschein .hidden{background-color:#FFEB99;}
#content h2{font-size:22px;}


/* ############################################### */
/* ############################################### */

/* ############################################### */
/* ############################################### */



.rightbox dt{margin:0;padding:0;float:left;width:110px;}
.rightbox dl{margin:0;padding:0;clear:left;}

.cl{clear:left;}
img{border:0;}
#p_t{padding-top:12px;padding-left:12px;}

#liefergebiete{max-width:650px;min-height:500px;}
#liefergebiete dl{margin:0;padding:0;min-height:500px;padding-left:40px;padding-top:20px;}
#liefergebiete ol{margin:0;padding:0;min-height:500px;padding-left:40px;padding-top:20px;}

.warengruppen_tabelle{width: 100%;}

.articleimg{position:relative;}
.article_thumbnail{float:left;padding-top:5px;padding-right:6px;}

.bildbox{position:absolute;top:10px;left:100px;}
.bildbox{display:none;}


#speisekarte{float:left;padding-right:40px;padding-left:60px;}
/* #bestellschein{float:left;} */

#speisekarte ul{float:left; text-align:left;  margin:0; padding:0;    margin: 0 12px 0 0;    padding: 10px 0 0 40px;    max-width: 150px;}
#speisekarte li{line-height:20px;}
#speisekarte ul a{width:145px;padding:4px;cursor:pointer;}


.fehlermeldung{text-align:left;padding:10px;}



#messagebox{position:absolute;left:0;top:350px;display:none;}
.messageinner{width:450px;min-height:200px;margin:0;padding:0;text-align:left;}
.message{padding:20px;width:400px;}
.messageinner span{position:relative;display:block;background:#FF8800;padding:4px;font-weight:bold;}
.messageinner a.hdl{position:absolute;top:3px;right:6px;width:18px;height:18px;cursor:pointer;}

#gbx_overlay{width:100%;height:100%;    position:fixed;    left:0;    top:0;    margin:0;    z-index:2999;
    display:none;    background:#000;     opacity:.50;    filter: alpha(opacity=50);     -moz-opacity: 0.5;}

* html #gbx_overlay { position:absolute; /*IE does not work with position fixed*/
    top:expression((0 + (ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop)) + 'px'); 
    right: expression((0 + (ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft)) + 'px');
    width:110%;
}

