

/* First we style the ordered list */
ol.rating {float:left;
	list-style-type:none;
	font-size:16px;
	margin:0.5em;
	padding:0;
	width:6.3em;
	
}
/* generic styles for all rating objects - Defaults to a star*/
ol.rating li {
	float:left;
	height:1em;
	margin:0.1em;
	overflow:hidden;
	background-image:url(../img/FFrstar.png);
}



/* Create the hover styles */
ol.rating:hover li {
	background-position:50% -16px;
}

/* style the link to move the text out of the way */
ol li a {
	display:block;
	width:1em;
	height:1em;
	padding-top:1.2em;
	text-decoration:none;
}
/* Style the hover states to move the rest of the images to the greyed out state */
ol.rating li:hover + li, ol.rating li:hover + li + li, ol.rating li:hover + li + li + li , ol.rating li:hover + li + li +li +li{
	background-position:50% -32px;
}
/* Style the items in ratings with preset values */
ol.one li, ol.two li, ol.two li , ol.three li, ol.four li, ol.five li {
	background-position:50% -16px;
}
/* and remove the rating styling from the rest of the items */
ol.one li + li, ol.two li + li + li, ol.three li + li + li + li, ol.four li + li + li + li + li {
	background-position:50% 0;
}