body{

background:url(../img/bg_pattern.png) repeat;

}





body{/*margin:0; padding:0; margin-top:25px;*/}

body { margin: -37px 0 0!important; padding: 0;}

#mainlayer{position:relative;width:1021px;text-align:left;}

#produktnavigation{/*position:absolute;*/top:30px;text-align:left;left:392px;}



header{min-height:180px;}



#centerlayer{width:960px; margin:0 auto;text-align:center;}

#content{/*margin-top:65px;z-index:1;*/}
#content {margin-top: 46px;z-index: 1;}

#content{/*width:960px;min-height:980px;border-radius:6px;    border: 1px solid #000000;*/}
#content {
    border: medium none;
    min-height: 980px;
    width: 960px;
}

.bildbox{position:absolute;top:10px;left:100px;}

.bildbox{display:none;}

#wraps{position: relative;}

#mainnavigation{/*position:absolute;top:-38px;left:100px;width:760px;height:40px;z-index:0;*/}
#mainnavigation {
    height: 44px;
    left: 0;
    position: absolute;
    top: -45px;
    width: 100%;
    z-index: 0;
}

#designhelper{position:absolute;top:0;left:99px;width:770px;height:20px;z-index:1;}

#topping{position:absolute;top:0;left:0;width:100%;height:30px;}



img{border:0;}



.inner{padding:20px;width: 570px;}

.inner2{padding:50px;width: 570px;}

.inner h2{padding-left:20px;}



#mainnavigation a{/*float:left;padding-top:7px;padding-left: 64px;*/}
#mainnavigation a {
    float: left;
    padding-left: 87px;
    padding-top: 10px;
}



#produktnavigation ul{float:left;  margin:0; padding:0;    margin: 12px 0 0;    padding: 10px 0 0 40px;    width: 150px;}

#produktnavigation li{line-height:20px;}



.sidebox{width:315px;border-radius:8px;}

.sidebox h2{padding-top:30px;}



.info{min-height:40px;font-size:12px;padding-left:24px;padding-bottom:30px;}

.info dt{margin:0;padding:0;float:left;width:110px;}

.info dl{margin:0;padding:0;clear:left;}



#d_liefergebiet{width:650px; min-height:500px;}

#d_liefergebiet dl{margin:0;padding:0;min-height:500px;padding-left:40px;padding-top:20px;}







#footer{position:relative;width:960px;height:40px;margin-bottom:8px;text-align:center;}

.footerinner{position:absolute;top:0;left:180px;width:600px;height:40px;z-index:0;}

#footer dt{float:left;padding-left:40px;}

.copy{margin-bottom: 20px;font-size: 11px;display:block;}





#mainnavigation a, #navigation a, #footer a {transition: color 1s ease-out 0s;}





#produktnavigation ul a{width:145px;padding:4px;cursor:pointer;}



#contenttable{width:580px;min-height:500px;}

#contenttable .tb{height:27px;padding:0 8px;}



.t_bestellschein, .t_bestellschein2{width:90%;}

.t_bestellschein a {cursor:pointer;}

.t_bestellschein a.z_btn{padding:0;}

.t_bestellschein .hidden{border:none;font-size:1px;}

.cl{clear:left;}





table.p_details, 

table.p_details tr, 

table.p_details td {border:0; border-collapse:collapse; empty-cells:hide; margin:0;padding:0;}



table.p_details {width: 580px;text-align:left;vertical-align:top;}

table.p_details td {padding:10px 8px;vertical-align:top;}

table.p_details .th td{padding:0 8px;height:27px;line-height:26px;}



table.p_details a{cursor:pointer;}

table.p_details a:hover b{transition: background 2s ease-out 0s;}

table.p_details a:hover b{transition: color 1s ease-out 0s;}



table.p_details a b{padding:2px;}

table.p_details textarea{width:520px;}





#rightlayer{position:absolute;  top: 262px;right:85px;width:315px;min-height:600px;z-index:2;}

#rightlayerstartseite{position:absolute;top:257px;right:85px;width:315px;min-height:600px;z-index:2;}

    

#bestellschein {width:315px;min-height:200px;}

#bestellschein {border-radius:0px;}

    



#mainlayer table{width:95%}

    

.hinweis_o_spk {color:green; max-width:480px;margin-bottom: 10px;  margin-top: 10px; padding: 6px 20px;}



.p_details .desc_e {display:none;}

.p_details .desc_e {color:#F53900;}

/*13sep16 css*/
#mainnavigation {
    border: medium none!important;
  
}

#footer {
    width: 100%!important;margin-bottom: 0!important;
}
.footerinner.instance_color {
    border: medium none;
    left: 0;
    padding: 4px 0;
    width: 100%;
}
.footerinner.instance_color > dl {
    margin: 8px 0;
}
#footer a {
    padding: 0 51px;
}
.inner {
    padding: 38px 21px;
    width: 570px;
}
.inner.anmel {
    padding: 18px 21px;
}
#produktnavigation ul a {
    
    font-size: 14px!important;
    
}
.t_bestellschein2 {
    font-size: 14px!important;
}
.t_bestellschein {
    font-size: 14px!important;
}
.info {
    font-size: 14px!important;
}
#contenttable {font-size: 14px!important;}

.t_bestellschein .th {
    background: #ccc none repeat scroll 0 0!important;
}
.sidebox {
    border-radius: 0!important;
}
.odd {
    background: #e6e6e6 none repeat scroll 0 0!important;
}
.article_thumbnail {
    float: left;
    padding-left: 4px;
    padding-right: 7px;
    padding-top: 4px;
}
.produkt {
    padding-right: 14px;
}

.regist {
    float: left;
    text-align: center;
    width: 88%;
}
.btn_regis {
    float: left;
    margin: -29px 0;
}
.logn {
    margin-left: 110px;
}
.btn_regis button {
    background: rgb(102, 153, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 4px 11px;cursor: pointer;
}
.logn {
    background: rgb(255, 211, 92) none repeat scroll 0 0;
    border: medium none;
    padding: 4px 16px;cursor: pointer;
}
#mainnavigation {border-radius: 0px!important;}

.footerinner {border-radius: 0px!important;}


