

header{

    text-align: center;

    /*min-height:180px;*/

}



section{padding-left:5px;padding-right:5px;}



#produktnavigation{

    /*position:absolute;*/

    /*top:30px;*/

    /*left:392px;*/

    text-align:left;

    border-radius:6px;

}

.arrow {

    cursor:pointer;

    border: 8px solid #444;

    font-size:0;line-height:0;height:0;padding:0;margin:0;

}

.arrow.down {

    border-right-color:  transparent;

    border-bottom-color: transparent;

    border-left-color:   transparent;

}



select{height:24px;}



#liste a{ display: inline-block;

    margin-top: 6px;}



#shopinfo a{ display: inline-block;

    padding-top: 6px;}





.p_details{width: 303px}

.hidden{display: none;}



body{background:url(../img/bg_pattern.png) repeat;}





body{

    margin:0;

    padding:0;

    /*margin-top:25px;*/

}



.buttonize{display:bloack;border:1px solid black;padding:10px;}



#mainlayer{position:relative;width:1021px;}
#mainlayer {text-align: center !important;}






#centerlayer{width:960px; margin:0 auto;text-align:center;}

#content{margin-top:65px;z-index:1;}

#content{width:960px;min-height:980px;border-radius:6px;    border: 1px solid #000000;}

.bildbox{position:absolute;top:10px;left:100px;}

.bildbox{display:none;}

#wraps{position: relative;}

#mainnavigation{position:absolute;top:-38px;left:100px;width:760px;height:40px;z-index:0;}

#designhelper{position:absolute;top:0;left:99px;width:770px;height:20px;z-index:1;}

#topping{position:absolute;top:0;left:0;width:100%;height:30px;}



img{border:0;}



.inner{padding:20px;width: 570px;}

.inner2{padding:50px;width: 570px;}

.inner h2{padding-left:20px;}



#mainnavigation a{float:left;padding-top:7px;padding-left: 70px;}



#produktnavigation ul{float:left; margin: 12px 0 0;    padding: 10px 0 0 40px;    width:150px;}

#produktnavigation li{line-height:20px;}



.sidebox{width:315px;border-radius:8px;}

.sidebox h2{padding-top:30px;}







.info dt{margin:0;padding:0;float:left;width:110px;}

.info dl{margin:0;padding:0;clear:left;}









#d_liefergebiet{width:280px; min-height:100px;}

#d_liefergebiet dl{margin:0;padding:0;min-height:100px;padding-left:20px;padding-top:20px;}







#footer{position:relative;width:960px;height:40px;margin-bottom:8px;text-align:center;}

.footerinner{position:absolute;top:0;left:180px;width:600px;height:40px;z-index:0;}

#footer dt{float:left;padding-left:40px;}

.copy{margin-bottom: 20px;font-size: 11px;display:block;}





#mainnavigation a, #navigation a, #footer a {transition: color 1s ease-out 0s;}





#produktnavigation ul a{width:145px;padding:4px;cursor:pointer;}



#contenttable{

    /*width:580px;*/

    /*min-height:500px;*/

}

#contenttable .tb{height:27px;padding:0 8px;}



.t_bestellschein, .t_bestellschein2{width:90%;}

.t_bestellschein a {cursor:pointer;}

.t_bestellschein a.z_btn{padding:0;}

.t_bestellschein .hidden{border:none;font-size:1px;}

.cl{clear:left;}





table.p_details,

table.p_details tr,

table.p_details td {border:0; border-collapse:collapse; empty-cells:hide; margin:0;padding:0;}



table.p_details {



    text-align:left;

    vertical-align:middle;

}





table.p_details td {padding:10px 8px; }

/*table.p_details .th td{padding:0 8px;height:27px;line-height:26px;}*/







table.p_details a{cursor:pointer;}

table.p_details a:hover b{transition: background 2s ease-out 0s;}

table.p_details a:hover b{transition: color 1s ease-out 0s;}



table.p_details a b{padding:2px;}



table.p_details textarea{width:280px;}





#rightlayer{position:absolute;  top: 290px;right:85px;width:315px;min-height:600px;z-index:2;}

#rightlayerstartseite{position:absolute;top:575px;right:85px;width:315px;min-height:600px;z-index:2;}

    

#bestellschein {

    /*width:315px;*/

    min-height:200px;

}

#bestellschein {border-radius: 8px 8px 8px 8px;}

    



#mainlayer table{width:95%}

    

.hinweis_o_spk {color:green; max-width:280px;margin-bottom: 10px;  margin-top: 10px; padding: 6px 20px;}



.p_details .desc_e {display:none;}

.p_details .desc_e {color:#F53900;}


/*13sep16 css*/
#mainnavigation {
    border: medium none!important;
  
}

#footer {
    width: 100%!important;margin-bottom: 0!important;
}
.footerinner.instance_color {
    border: medium none;
    left: 0;
    padding: 4px 0;
    width: 100%;
}
.footerinner.instance_color > dl {
    margin: 8px 0;
}
#footer a {
    padding: 0 51px;
}
.inner {
    padding: 38px 21px;
    width: 570px;
}
.inner.anmel {
    padding: 18px 21px;
}
#produktnavigation ul a {
    
    font-size: 14px!important;
    
}
.t_bestellschein2 {
    font-size: 14px!important;
}
.t_bestellschein {
    font-size: 14px!important;
}
.info {
    font-size: 14px!important;
}
#contenttable {font-size: 14px!important;}
header {
    float: none;
    margin: auto;
    width: 98% !important;
}



.hinweis_o_spk {color: #000;}
table.p_details td {
    padding: 10px 8px;
    width: 100%;
}
#produktnavigation {
    float: left;
    padding: 7px 1px;
    width: 100%;
}

table.p_details {
    font-size: 12px;
    background-color: #FFEB99;
   
    width: 100%;
}
.hinweis_o_spk { max-width:100%;padding: 1px 3px;}

#liste table {
    width: 100%;
}

div#liste {
    width: 100%;
    /* float: left; */
}
.hinweis_o_spk > form {
    padding-left: 0 0!important;
}

#bestellschein {
    border-radius: 0px;
}
#contenttable {width: 100%;
}