



<table class="p_details">
    <tr class="th">
        <td>ausgewählt: <b>[ARTNAME] [EINHEIT]</b></td>
        <td align="right"><span class="toggler arrow down"></span></td>
    </tr>
    <tr class="tablebody hidden">
        <td colspan="2">

            <b>[ARTIKELNUMMER]</b><b>[ARTNAME]</b>&nbsp;
            <sup>[ZUSATZSTOFFE]</sup><br>
            <div class="desc">[ARTBESCHREIBUNG]</div>
            <div class="desc_e">gew&auml;hlte Zutaten: <!-- hier wird content eingeblendet --></div>

            <br><br>

        </td>
    <tr>
</table>