
<h2>Bitte loggen Sie sich ein</h2>

<form method="post" action="kundenlogin.php" style="padding-left:20px;" accept-charset="[SCHRIFTSATZ]">
    <input type="hidden" name="weiterleitung" value="ersterubrik" />
    <table>
        <tr><td><input type="text" name="kundennummer" placeholder="Kundennummer oder Email"></td></tr>
        <tr><td><input type="password" name="passwort" placeholder="Passwort"></td></tr>
        <tr><td><a href="passwort_vergessen.php"><small>Passwort vergessen?</small></a></td></tr>
        <tr><td><br><input type="submit" name="submit" value="einloggen"></td></tr>
    </table>
</form>

<br>
<br>
