<a title="" href="[PATH]info.php">Wir &uuml;ber uns</a><br>

<a title="" href="[PATH]anfahrt.php">Anfahrt</a><br>
<a title="" href="[PATH]anmeldung.php">Anmeldung</a><br>
<a title="" href="[PATH][KUNDENSEITE]">[KUNDENSYSTEM]</a><br>
