

html{color:#000;font:400 11px/14px verdana,arial,sans-serif;}
body{margin:20px;padding:0;font-family:verdana,arial,sans-serif;font-size:12px}
table,td{font-size:12px;}
img{border:0;}

#l{position:absolute;top:50px;left:10px;width:270px; border-right: 1px solid #222222;}
#r{position:absolute;top:50px;left:340px;min-width:780px;}

#zeigan{margin-left: 20px;}

.fehler{width:500px;border:2px solid #990000;padding:10px;color:#990000;margin-bottom:20px;}
p.fehler{width:190px;}
.bad {color: #FF0000;}

#contentzwo p.bad {
	color: #FF0000;
	font-weight: normal;
}

.mrt2{width:80%;}


img{border:0;}
form{margin:0;}

a{color:#244E7E;text-decoration:underline;}

h1{font-size:18px;font-family:verdana,arial,helvetica,sans-serif}
h3{margin:0;}
textarea{overflow:auto;font-family:verdana,sans-serif;font-size:11px;}



hr{color:#000; border:solid 1px #000;
background-color:#000; height: 1px; }

.overhead{text-align:center;background-color:#D8DFF1;color:#000;font-weight:bold;}
.seitenwe{font-size:1em;color:#fff;}
.firstbord{border-left:1px solid black;padding-left:2px;}

.mrt{width:679px;}

.mrt3{width:770px;}

.trheader{background-color:#6699CC;}
.higher{background:#DEE6F1;}

.tdheader{height:22px;font-size:11px;color:#fff;font-weight:bold;}
.tdheader2{font-size:11px;height:18px;font-weight:bold;}
.tdheader3{font-size:11px;height:18px;font-weight:bold;padding-left:5px;}
.tdheader5{height:22px;font-size:11px;color:#FFFF99;font-weight:bold;}
.tdfirst{width:190px;}

.whspnw{white-space:nowrap;}

.pt10{padding-top:10px;}
.pl20{padding-left:20px;}
.pl3{padding-left:5px;}
.ff{font-family:arial,helvetica,sans-serif}
.i{font-style:italic;}

.mtxtarea{overflow:auto;width:260px;}

.drei15{width:315px;}
.drei60{width:600px;}
.drei50{width:500px;}
.drei18{width:324px;}

.mainnavi{font-size:18px;font-weight:bold;text-decoration:none;line-height:130%;}
.mainnavi1{font-size:18px;font-weight:bold;text-decoration:none;color:#200D4F;}
.mainnavi-high{font-size:18px;font-weight:bold;text-decoration:none;color:#318E6C;}
.mainnavik-high{font-size:14px;font-weight:bold;text-decoration:none;}
.action{height:22px;font-size:11px;background-color:#fff;}


.headline{background-color:#E9E4E2;}

td.overhead{text-align:center;background-color:#D8DFF1;color:#000;font-weight:bold;}
/* tr.overhead{background-color:#937B71;color:#ffffff;font-weight:bold;} */

select{width:140px;}
select.sm{width:50px;}
select.gr{width:240px;}
select.xgr{width:330px;}

select.wsm{width:100px;font-family:verdana,sans-serif;font-size:11px;}
select.wsm1{width:130px;font-family:verdana,sans-serif;font-size:11px;}

.farbinput{width:85px;font-family:verdana,sans-serif;font-size:11px;}


.entrylist{border:1px solid #333;padding:4px;width:500px;font-size:12px;}
tr.headl{background-color:#ccc;}


.meldung{background-color:#00CC66;color:#fff;font-weight:bold;}
.fmeldung{background-color:#DD0000;color:#fff;font-weight:bold;}
.f-meldung{background-color:#DD0000;color:#fff;font-weight:bold;}
.header{font-size:10px;background:#053F6F;color:#fff;}

.h2{font-weight:700;color:#000;font-size:10px;background-color:#D8DFF1;}
td,th{empty-cells:show;font-size:11px}

.mi{font-size:11px}

input{font-family:arial,sans-serif;text-align:left;}

input.mit{background-color:#EDEDED;}
input.ohne{background:transparent;border:0;cursor:pointer;text-decoration:underline;}
input.ohne-r{background:transparent;border:0;cursor:pointer;text-decoration:underline;color:#DD0000;}
input.ohne-b{background:transparent;border:0;cursor:pointer;text-decoration:underline;color:#0303DC;}
input.ohne-padd{background:transparent;border:0;cursor:pointer;text-decoration:underline;padding-left:45px;}
input.ohne-rb{background:transparent;border:0;cursor:pointer;text-decoration:underline;color:#6F0C44;font-weight:bold}
input.ohne-rnb{background:transparent;border:0;cursor:pointer;text-decoration:underline;color:#fff;font-weight:normal;font-size:0.9em;}
input.ohne-rbs{background:transparent;border:0;cursor:pointer;text-decoration:underline;color:#fff;font-weight:bold;font-size:12px;}

input.ohne-rbsbl{font-family:verdana,arial,sans-serif;background:transparent;text-decoration:underline;border:0;cursor:pointer;color:#244E7E;font-size:11px;}

a.ohne-rb{font-family:arial,sans-serif;text-align:left;text-decoration:underline;color:#6F0C44;font-weight:bold}
a.ohne-rbs{font-family:arial,sans-serif;text-align:left;text-decoration:underline;color:#fff;font-weight:bold;font-size:12px;cursor:pointer;}







.selection {background-color:#FFF;width:650px;border-collapse:collapse;font-size:0.8em;}
.selection td {background-color:#F0F7FF;border:1px solid black;padding:5px;}
.selection td.spec {background-color:#5472A3;border:1px solid black;padding:5px;color:#fff;font-weight:bold;}
.selection td.ohne {background-color:#fff;border:0px solid black;padding:5px;}
.selection td.headline{color:#FFFF99;height:22px;font-size:11px;font-weight:bold;}
.selection td.meldung{background-color:#00CC66;color:#fff;font-weight:bold;}
.selection td.fmeldung{background-color:#DD0000;color:#fff;font-weight:bold;}


.selectionred {background-color:#FFF;width:650px;border-collapse:collapse;font-size:0.8em;}
.selectionred td {background-color:#F0F7FF;border:1px solid black;padding:5px;}
.selectionred td.spec {background-color:#AD3737;border:1px solid black;padding:5px;color:#fff;font-weight:bold;}



.selectionprint {background-color:#FFF;width:650px;border-collapse:collapse;font-size:0.8em;}
.selectionprint td {background-color:#FFF;border:1px solid black;padding:5px;}
.selectionprint td.spec {background-color:#EDEAEA;border:1px solid black;padding:5px;color:#000;font-weight:bold;}




.hilfeanker{text-decoration:none;color:black;font-weight:bold;}


.selection a{color:#00008b;}

td.ohne {color:#000;}
a.nukl{font-size:9px;}


.adminreply{font-style:italic;}



#menua a{font-size:14px;text-decoration:none;color:#000;text-align:left;display:block;  background-color:#ddd;   
width:220px;padding:10px;border-bottom:1px solid grey; margin-bottom:5px;}
#menua a:hover {color:#999;}/* #fff */
#menua a.mn{height:24px;}

#menua a.mn, #menua a.mn:visited { background-color:#5472A3; color:#fff; border-bottom:1px solid grey;  } /* #EC9913 */
#menua a.mn:hover {color:#fff;}

#menua a.mbn, #menua a.mbn:visited { background-color:#EC9913; color:#000; border-bottom:1px solid grey;  } /* #EC9913 */
#menua a.mbn:hover {color:#000;}
 

#menua div a { height:14px;padding-bottom:6px;}



.arrow {
    border: 5px solid #fff;
    font-size:0;line-height:0;height:0;padding:0;margin:0;
}
.arrow.down {
    border-right-color:  transparent;
    border-bottom-color: transparent;
    border-left-color:   transparent;
}
.arrow.up {
    border-top-color:    transparent;
    border-right-color:  transparent;
    border-left-color:   transparent;
}
.arrow.left {
    border-top-color:    transparent;
    border-bottom-color: transparent;
    border-left-color:   transparent;
}
.arrow.right {
    border-top-color:    transparent;
    border-right-color:  transparent;
    border-bottom-color: transparent;
}


div.spec{font-size: 11px;    font-weight: bold; font-family: verdana; border:1px solid #000; background-color:#5472A3;width:498px;color:#fff;padding:5px 0px 5px 0px;}
div.spec .arrow{cursor: pointer;text-align:right;float:right;margin-right:5px;margin-top:5px;}

.coll_me {
    position: absolute;
    right: -10px;
    top: 0;
    cursor: pointer;
}