
<h2>[RUBRIKNAME]</h2>
<p>[BESCHREIBUNG]</p>

<table class="p_details">
    <tr class="th">
        <td><b>[ARTBILD] [ARTNAME] [EINHEIT]</b></td>
    </tr>
    <tr class="tablebody">
        <td>

            <b>[ARTIKELNUMMER]</b>&nbsp;<b>[ARTNAME]</b>&nbsp;
            <sup>[ZUSATZSTOFFE]</sup><br>
            <div class="desc">[ARTBESCHREIBUNG]</div>
            <div class="desc_e">gew&auml;hlte Zutaten: <!-- hier wird content eingeblendet --></div>

            <br><br>

        </td>
    <tr>
</table>