
<div id="footer">
    <div class="footerinner instance_color">
        <dl>
            <dt><a title="" href="[PATH]zusatzstoffliste.php">Zusatzstoffliste</a></dt>
            <dt><a title="" href="[PATH]nutzungsbedingungen.php">Nutzungsbedingungen</a></dt>
            <dt><a title="" href="[PATH]agb.php">AGB</a></dt>
            <dt><a title="" href="[PATH]impressum.php">Impressum</a></dt>
            <dd>&nbsp;</dd>
        </dl>
    </div> 
</div>


<br>
<br>