
<h2>
    <small>oder</small>
    <br>
    wählen Sie das Liefergebiet aus
    <small>(Neukundenbestellung)</small>
</h2>


<div id="d_liefergebiet">

    <dl>
        <dd>&nbsp;</dd>
        [LISTE]
    </dl>


    <br class="cl">
    <br>
    <br>

</div>