<h2>
    <small>oder</small>
    <br>
    wählen Sie das Liefergebiet aus
    <small>(Neukundenbestellung)</small>
</h2>


<div id="d_liefergebiet">

    <form method="get">
        <select name="lg" onchange="this.form.submit()">
            [OPTIONEN]
        </select>
        <input type="submit" value="ok">
    </form>

    <br>
    <br>

</div>
