<a title="" href="[PATH]info.php">Wir &uuml;ber uns</a>
<a title="" href="[PATH]jobs.php">Jobangebote</a>
<a title="" href="[PATH]anfahrt.php">Anfahrt</a>
<a title="" href="[PATH][KUNDENSEITE]">Kunden Login</a>
<a title="" href="[PATH]anmeldung.php">Registrierung</a>